{% load static blogs_utils wagtailimages_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ current_site.site_name }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'blogs/enterprise/theme.css' %}" />
  {% block extrastyles %}{% endblock %}
  {% include "wagtailseo/meta.html" %}
</head>

<body>
  <div class="main-page-header">
    {% include 'blogs/enterprise/parts/navbar.html' %}
    {% if not disable_header %}
      <header>
        <div class="header-inner">
          {% root_page page as root %}
          <div class="header-left">
            <h1>{{ root.header_text }}</h1>
          </div>
          {% image root.header_image width-600 as image %}
          <img src="{{ image.url }}" alt="{{ image.alt }}" loading="lazy" />
        </div>
      </header>
    {% endif %}
  </div>

  {% block content %}
  {% endblock %}

  {% include "wagtailseo/struct_data.html" %}
  {% include "wagtailseo/struct_org_data.html" %}
  <script src="https://unpkg.com/lucide@latest"></script>
  <script>
    lucide.createIcons();
  </script>
  <script>
    document.querySelector('nav.navbar .btn-toggle').addEventListener('click', function(){
      const el = document.querySelector('nav.navbar > div > ul');
      if (!el) {
        return;
      }
      el.classList.toggle('mobile-hidden', !el.classList.contains('mobile-hidden'));
    })
  </script>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "y4xc9u1h0j");
  </script>
  <script>
    (function (d, t) {
      var BASE_URL = "https://help.ryo.app.br";
      var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
      g.src = BASE_URL + "/packs/js/sdk.js";
      g.async = true;
      s.parentNode.insertBefore(g, s);
      g.onload = function () {
        window.chatwootSDK.run({
          websiteToken: "ytNABdVDXtBeLNMNC4FJcsBr",
          baseUrl: BASE_URL,
        });
      };
    })(document, "script");
  </script>
  {% block extrascripts %}{% endblock %}
</body>
</html>