<section id="faq" class="mb-5">
  <div class="row">
    <div class="col-12 col-lg-6 d-flex flex-column align-items-start justify-content-start pt-5">
      <h1>Perguntas frequêntes</h1>
      <h2 class="fs-4 fw-normal mb-4">Você tem mais perguntas? Entre em contato conosco e vamos bater um papo.</h2>
      <div class="mb-5">
        <a href="#" class="btn btn-cta btn-cta-brand">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle-icon lucide-message-circle"><path d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719"/></svg>
          Contato
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="accordion" id="faq">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="faq1">
              O que é o Ryo CRM?
            </button>
          </h2>
          <div id="faq1" class="accordion-collapse collapse" data-bs-parent="#faq">
            <div class="accordion-body">
              <p>O <strong>Ryo CRM</strong> é um sistema de gestão de clientes e negócios com foco em cashback para varejo direcionado para pequenas empresas e empreendedores.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
              O Ryo CRM é destinado para que tipos de empresas e pessoas?
            </button>
          </h2>
          <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#faq">
            <div class="accordion-body">
              <p>O <strong>Ryo CRM</strong> foi desenhado para <strong>pequenos negócios</strong> e <strong>empreendedores</strong>, mas pode ser utilizado por toda e qualquer empresa que perceber que o sistema o atende bem, tendo em vista que, devido ao nosso foco, temos um preço especial.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
              Por que vocês não tem a funcionalidade X?
            </button>
          </h2>
          <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#faq">
            <div class="accordion-body">
              <p>Atualmente estamos em versão beta e, portanto, apenas as funcionalidades principais do sistema estão disponíveis. Possuímos, porém, um <strong>roadmap</strong> com as funcionalidades que devem ser implementadas nos próximos períodos.</p>
              <p>Ainda, se você deseja uma funcionalidade, entre em <strong>contato</strong> com a gente e iremos avaliar a sua necessidade.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
              É possível testar a plataforma sem cartão de crédito?
            </button>
          </h2>
          <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#faq">
            <div class="accordion-body">
              <strong>Sim.</strong> Assim que você criar sua conta você ganhará um mês gratuíto. Após esse período, seu acesso ganha restrições até o pagamento da cobrança, por PIX, então se você não quiser continuar utilizando o sistema, não é preciso fazer nada.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
              Como funcionam os cashbacks?
            </button>
          </h2>
          <div id="faq5" class="accordion-collapse collapse" data-bs-parent="#faq">
            <div class="accordion-body">
              <p>Você cadastra uma venda, indicando o telefone e o nome do cliente. Uma porcentagem da venda (por exemplo, 10%) é creditada como cashback para as próximas compras.</p>
              <p>O sistema avisa o usuário em diversos momentos sobre os cashback's. Após algum tempo, enquanto o cashback ainda é válido, o cliente volta, você preenche os dados dele para cadastrar uma nova venda, o desconto do cashback é puxado automáticamente.</p>
              <p>Além disso, quando você registra a nova venda, um novo cashback é gerado para a próxima venda. Esse é um ciclo de recompras e fidelização.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false" aria-controls="faq6">
              Por quais canais vocês enviam mensagens para os clientes?
            </button>
          </h2>
          <div id="faq6" class="accordion-collapse collapse" data-bs-parent="#faq">
            <div class="accordion-body">
              <p>As mensagens para os clientes são enviadas por <strong>WhatsApp</strong> e <strong>SMS</strong>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>