$dropdown-bg: #1e293c;

$navbar-light-color: #93a2b4;
$navbar-light-hover-color: #a3e82d;
$navbar-light-active-color: #a3e82d;
$dropdown-link-active-color: #000;

$table-bg: #0f172b;
$table-border-color: #1e293c;

$primary: #a3e82d;
