{% extends 'lists/list_base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extrastyles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
{% endblock %}

{% block extrascripts %}
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script>
        const lightbox = GLightbox({
            touchNavigation: true,
            loop: true,
            autoplayVideos: true
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 d-flex align-items-center mb-4">
            <h1>{{ page.title }}</h1>
            {% if page.display_label %}
                <span class="bg-primary text-black p-2 rounded-2 fw-medium ms-3" style="font-size: 0.85rem;">
                    {{page.display_label}}
                </span>
            {% endif %}
        </div>
        <div class="col-12 col-md-5 col-lg-4 col-xl-3 d-flex flex-column align-items-stretch">
            {% image page.cover fill-425x600 as tmp_photo %}
            <img class="mb-4" src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}" />
        </div>
        <div class="col-12 col-md-7 col-lg-8 col-xl-9">
            {% with tags=page.tags.all %}
                {% if tags %}
                    <div class="mb-2">
                        {% for tag in tags %}
                            <a class="text-decoration-none fw-medium me-2" href="{% slugurl 'tags' %}?tag={{ tag }}">
                                #{{ tag }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div>
                {{ page.description|richtext }}
            </div>
        </div>
        <div class="col-12">
            {% with properties=page.properties.all %}
                <table class="table table-striped table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th colspan="2">Mais Informações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th width="30%" scope="row">Data</th>
                            <td>{{ page.date }}</td>
                        </tr>
                        {% for prop in properties %}
                            <tr>
                                <th width="30%" scope="row">{{ prop.name }}</th>
                                <td>{{ prop.value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endwith %}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h2 class="fs-3">Imagens</h2>
            {% with images=page.images.all %}
                {% if images %}
                    <div class="row mb-5">
                        {% for image in images %}
                            {% image image.image original as raw_photo %}
                            <a
                                class="col-12 col-md-6 col-lg-4 glightbox d-flex flex-column align-items-stretch mb-4"
                                title="{{ image.caption }}"
                                href="{{ raw_photo.url }}"
                            >
                                {% image image.image width-426 as tmp_photo %}
                                <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}" />
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="col-12 d-flex flex-column align-items-center justify-content-center" style="min-height: 200px;">
                        <i data-lucide="images" style="width: 64px; height: auto;"></i>
                        <p class="mt-2 fw-bold">Nenhuma imagem foi adicionada a esse item.</p>
                    </div>
                {% endif %}
            {% endwith %}
        </div>

        <div class="col-12">
            <h2 class="fs-3">Anotações</h2>
        </div>

        {% if comments %}
            <div class="row gap-4 mb-5">
                {% for comment in comments %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title fs-5">{{ comment.title }}</h3>
                                {{ comment.specific.comment|richtext }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="col-12 d-flex flex-column align-items-center justify-content-center" style="min-height: 200px;">
                <i data-lucide="messages-square" style="width: 64px; height: auto;"></i>
                <p class="mt-2 fw-bold">Nenhuma anotação foi feita nesse item.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
